{
  "printWidth": 80,
  "trailingComma": "all",
  "singleQuote": true,
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "*.json",
      "options": { "parser": "json" }
    },
    {
      "files": "*.java",
      "options": { "tabWidth": 4, "printWidth": 100 }
    }
  ]
}
