<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.firstinspires.ftc.teamcode">

    <application>

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->

        <activity
            android:name=".imgproc.ImgProc"
            android:label="@string/title_activity_imgproc">
            <!--
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            -->
        </activity>

    </application>

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"></uses-permission-sdk-23>

    <uses-feature android:name="android.hardware.usb.UsbDevice"></uses-feature>
    <uses-feature android:name="android.hardware.usb.UsbAccessory"></uses-feature>

</manifest>