<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.qualcomm.ftcrobotcontroller"
          android:versionCode="3"
          android:versionName="User Developed App">


  <uses-permission
    android:name="android.permission.ACCESS_WIFI_STATE"
    android:required="true" />
  <uses-permission
    android:name="android.permission.CHANGE_WIFI_STATE"
    android:required="true" />
  <uses-permission
    android:name="android.permission.ACCESS_NETWORK_STATE"
    android:required="true" />
  <uses-permission
    android:name="android.permission.CHANGE_NETWORK_STATE"
    android:required="true" />
  <uses-permission
    android:name="android.permission.INTERNET"
    android:required="true" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:required="true" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:required="true" />
  <uses-permission
    android:name="android.permission.WRITE_SETTINGS"
    android:required="true" />

  <uses-feature android:name="android.hardware.usb.accessory" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >
    <activity
      android:name=".FtcRobotControllerActivity"
      android:configChanges="orientation|screenSize"
      android:label="@string/app_name"
      android:launchMode="singleTask" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />

        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
      </intent-filter>

      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/device_filter" />
    </activity>
    <activity
      android:name="com.qualcomm.ftccommon.FtcRobotControllerSettingsActivity"
      android:label="@string/settings_activity" >
    </activity>
    <service
      android:name="com.qualcomm.ftccommon.FtcRobotControllerService"
      android:enabled="true" />
    <activity
      android:name="com.qualcomm.ftccommon.configuration.FtcLoadFileActivity"
      android:label="@string/configure_activity"
      tools:replace="android:label">
    </activity>
    <activity
        android:name="com.qualcomm.ftccommon.FtcWifiChannelSelectorActivity"
        android:label="@string/title_activity_wifi_channel_selector"
        tools:replace="android:label">
    </activity>
    <activity
      android:name="com.qualcomm.ftccommon.ConfigWifiDirectActivity"
      android:label="@string/title_activity_config_wifi_direct" />
    <activity
      android:name="com.qualcomm.ftccommon.ViewLogsActivity"
      android:configChanges="orientation|screenSize"
      android:label="@string/title_activity_view_logs"
      tools:replace="android:label">
      <intent-filter>
        <action android:name="com.qualcomm.ftcrobotcontroller.VIEW_LOGS"/>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>

</manifest>
